.plugin-sample {
  &__custom-tab {
    background-color: var(--b3-theme-background);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__custom-dock {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__time {
    background: var(--b3-card-info-background);
    border-radius: 4px;
    padding: 2px 8px;
  }
}

// 仅在layout__center中生效
.layout__center{
	--sidebar-memo-number-height: 18px;
	--sidebar-memo-number-width: 4px;
	--sidebar-memo-number-border-radius: 50px;
	--sidebar-memo-number-margin-right:6px;
	--sidebar-memo-number-color:transparent;
	--sidebar-memo-number-background-color:var(--b3-theme-primary);
	--sidebar-memo-number-not-only-child-width:18px;
	--sidebar-memo-number-not-only-child-color:var(--b3-theme-background);
	--sidebar-memo-editor-padding-right: 280px;
	--sidebar-memo-sidebar-right: -50px;
	--sidebar-memo-disapear-screen-width: 1280px;
	--sidebar-memo-text-max-width: calc(90% - 24px);

	[data-content-type="number"]{
		height:var(--sidebar-memo-number-height);
		width:var(--sidebar-memo-number-width);
		border-radius:var(--sidebar-memo-number-border-radius);
		text-align:center;
		margin-right:var(--sidebar-memo-number-margin-right);
		font-family: 'Arial';
		line-height: var(--sidebar-memo-number-height);
		color:var(--sidebar-memo-number-color);
		background-color:var(--sidebar-memo-number-background-color);
		overflow: hidden;
	}
	
	[id*="protyle-sidebar-memo"][data-node-index]:not(:only-child) [data-content-type="number"]{
		width:var(--sidebar-memo-number-not-only-child-width);
		color:var(--sidebar-memo-number-not-only-child-color);
	}

	[data-content-type="text"]{
		overflow: hidden;
		white-space: nowrap;
		width: var(--sidebar-memo-text-max-width);
		text-overflow: ellipsis;
		margin: auto;
	}

	@media screen and (min-width: 500px){
		.protyle-content[data-fullwidth="true"]:has(span[data-type*="inline-memo"]):has(div[id="protyle-sidebar"]) .protyle-wysiwyg{
		padding-right:var(--sidebar-memo-editor-padding-right)!important;
		}
		.protyle-content[data-fullwidth="true"]:has(span[data-type*="inline-memo"])  #protyle-sidebar{
		right: var(--sidebar-memo-sidebar-right)!important;
		}
	}
	
	@media screen and (max-width: 499px) {
		.protyle-content  #protyle-sidebar{
		  display:none;
		}
	}
	
	@media screen and (min-width: 500px){
		.protyle-content[data-fullwidth="true"]:has(span[data-type*="inline-memo"]):has(div[id="protyle-sidebar"]) .protyle-wysiwyg{
		padding-right:var(--sidebar-memo-editor-padding-right)!important;
		}
		.protyle-content[data-fullwidth="true"]:has(span[data-type*="inline-memo"])  #protyle-sidebar{
		right:var(--sidebar-memo-sidebar-right)!important;
		}
	}
}